<div class="container my-5">
  <div class="text-center">
    <h1>Contáctanos</h1>
    <p class="lead">¡Nos encantaría saber de ti!</p>
  </div>
  <div class="row mt-4">
    <div class="center">
      <ul class="list-unstyled mt-3">
        <li><strong>Teléfono:</strong> +505 5839 5194</li>
      </ul>
    </div>
  </div>
</div>
