<div class="container my-5">
  <div class="text-center">
    <h1>Nosotros</h1>
    <p class="lead">Descubre quiénes somos y qué nos motiva.</p>
  </div>
    <div class="center">
      <h2 class="mt-4 mt-md-0">Nuestra Historia</h2>
      <p>Somos un equipo comprometido en ofrecer los mejores servicios a nuestros clientes. Con años de experiencia en el sector, nos esforzamos por la excelencia en todo lo que hacemos.</p>
      <h3>Nuestra Misión</h3>
      <p>Hacer un impacto positivo proporcionando servicios de alta calidad, adaptados a tus necesidades.</p>
    </div>
  </div>
</div>
